<%- include partials/header.ejs %>
<div class="container" style="width: 650px;">
    <h2 class="text-center">Add Treatment for Patient</h2>
    <br/>
    <br/>
        <form id="treatment" method="post" encType="multipart/form-data">
            <div class="form-group col-sm-12">
                <label for="PatientAddress">Patient Address</label>
                <input type="text" class="form-control" id="PatientAddress" name="Patient_Address">
            </div>
            <div class="form-group col-sm-12">
                <label for="TestsPerformed">Description Tests Performed</label>
                <textarea rows="5" class="form-control" id="TestsPerformed" name="Tests_Performed"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <label for="Diagnosis">Diagnosis</label>
                <textarea rows="5" class="form-control" id="Diagnosis" name="Diagnosis"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <label for="PrescribedMedications">Medications Prescribed</label>
                <textarea rows="5" class="form-control" id="PrescribedMedications" name="Medications_Prescribed"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <label for="VaccinationPerformed">Vaccination Performed</label>
                <textarea rows="5" class="form-control" id="VaccinationPerformed" name="Vaccination_Performed"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <label for="LaboratoryTests">Laboratory Tests Taken</label>
                <textarea rows="5" class="form-control" id="LaboratoryTests" name="Laboratory_Tests"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <label for="XRay">Document</label>
                <input type="file" class="form-control" id="XRay" name="XRay">
            </div>

            <div class="form-group col-sm-4">
                <button type="submit" class="btn btn-primary" formaction="/treatment/add/<%- address %>/<%- role %>">Add Treatment</button>
            </div>
        </form>
    </div>
</div>
<%- include partials/footer.ejs %>